@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

*{
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  
button{
    width: 10%;
    height: 56px;
    font-size: 22px;
    border:8px solid #F7825E;
    background-color: #AC3131;
  }
button:hover {
    background: linear-gradient(45deg,#F7825E, #006C67, #AC3131);
    color:#ffffff;
    cursor: pointer;
    animation: glowing 20s linear infinite;
  }

.BeingType{
    color:#55BB25;
  }

.BeingType::before{
    content: "•";
    font-size: large;
  }
  
canvas {
    position: relative;
  }

.card :hover {
  border-color: #AC3131;
  animation: glowing 20s linear infinite;
  cursor: pointer;
}

.card > .description {
    color:#55BB25;
    font-size: 14px
}

.card > img {
    border:8px solid black;
    width:50%
  }

.card > .name {
    font-size: 22px;
    color: #AC3131;
}
.cards {
    display: grid;
    padding: 2em 6em;
    margin: 1em 4em;
    grid-template-columns: repeat(4,1fr);
}

.headername {
  font-size: 22px;
  color: #AC3131;
}
.ImgContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10em;
  margin: 9em;
  padding-left: 14em;
}

input{
  color: white;
  width: 40%;
  height: 35px;
  border:6px solid #518D34;
  background-color: #55BB25;
  font-size: 22px;
  margin: 1em 10em
}

.location, .residents {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}

.LocationResults >.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15em;
}

.grid-container > .name {
  color: #AC3131;
  font-size: xx-large;
}
.SearchResults {
  display: flex;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  margin: 2em
}

.SearchResults img {
  border:8px solid black;
  width:35%;
}

.navigation {
  font-size: 40px;
  color:#F7825E;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}
.PlanetName{
  color: #AC3131;
}
.results {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color:#55BB25;
  word-spacing: 8px;
  padding: 8px;
}
.species:hover{
  color:#55BB25;
  cursor: pointer;
}
.grid-container {
  float: right;
}

.Results {
  display: grid;
  margin: 1em 14em;
  gap: 2em;
  grid-template-columns: repeat(2,1fr);
}

.Results > img {
  border:8px solid black;
}

.ResultName{
  font-size: x-large;
}
.ResultTally,.Episodes{
  color:#55BB25;
  font-size: x-large;
}

.search-form input::placeholder {
  color: #ffffff; 
  transform: rotate(1deg); 
  padding-left: 2em;
  font-size:larger
}
.search-form input:hover {
  background: linear-gradient(45deg,#F7825E, #006C67, #AC3131);
  color:#55BB25;
  cursor: pointer;
  animation: glowing 20s linear infinite;
}
.search-results title {
    margin: 21em;
}

.species,.ResidentNumbers,.Location{
  color: #AC3131;
  font-size: large;
}
